<div class="jumbotron">
    @*<h1>DriveSwitch WebApi</h1>*@
    <img src="~/Images/DriveSwitch-The-Ultimate-Driver’s-Switchboard.png" class="HeaderLogo" />
    @*<p class="lead">*@
    <p style="margin-bottom: 25px;">
        Do You Drive For Multiple Rideshare Platforms? If you’re like millions of other rideshare drivers, you probably drive with more than one rideshare app open to make the most of your driving experience and income.
    </p>
    <p><a href="http://driveswitch.com" target="_blank" class="btn btn-primary btn-lg">Get Your Switch On &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API Documentation</h2>
        <p>Our API help page provides general information regarding calling and consuming DriveSwitch's web services. Click on an API link below to view more information such as input parameters and return data structures.</p>
        <p><a class="btn btn-default" href="/Help">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Examples</h2>
        <p>We provide some basic examples of service requests and responses here. Use this page to gain a better understanding of our response structures.</p>
        <p><a class="btn btn-default" href="/app">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
